<footer class="pd-tb-small pd-b-10 pos-rel bg-gray2" data-rgen-sm="pd-tb-small align-c">
    <div class="container pos-rel z1">
        
        <div class="flex-row gt20 mb20">

            <!--=========================================
            =  Links
            =============================================-->
            <div class="flex-col-md-4">
                <ul class="list-1">
                    <li><a href="#">Our items</a></li>  
                    <li><a href="#">Landing page templates</a></li>  
                    <li><a href="#">Plan & pricing</a></li>  
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
                
            </div><!-- // END : column //  -->
            
            <!--=================================
            = Company info and social links
            ==================================-->
            <div class="flex-col-md-8">

                <p><img src="/images/logo/krossboard-logo.png" alt="Krossboard logo" data-rgen-sm="align-c"></a></p>
                <p>25 Rue Jacqueline Auriol, 31400 Toulouse - France</p>
                
                <hr class="mr-tb-20">

                <a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 solid btn-color3"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 solid btn-color3"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 solid btn-color3"><i class="fa fa-google"></i></a>
                <a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 solid btn-color3"><i class="fa fa-youtube"></i></a>
                <a href="#" target="_blank" class="sq40 fs16 mr-r-4 rd inline-flex flex-cc bdr-2 solid btn-color3"><i class="fa fa-tumblr"></i></a>
                
                <hr class="mr-tb-20">

                <a href="#" target="_blank">2Alchimists SAS</a> &copy; <script>document.write(new Date().getFullYear());</script>

            </div><!-- // END : column //  -->

        </div><!-- // END : row //  -->
        
    </div><!-- // END : Container //  -->
</footer>
