<footer class="pd-tb-small pd-b-10 pos-rel bg-gray2" data-rgen-sm="pd-tb-small align-c">
    <div class="container pos-rel z1">
        
        <div class="flex-row gt20 mb20">

            <!--=========================================
            =  Links
            =============================================-->
            <div class="flex-col-md-4">
                <p>&nbsp;</p>
            </div><!-- // END : column //  -->
            
            <!--=================================
            = Company info and social links
            ==================================-->
            <div class="flex-col-md-8">
                <p>
                    <span><a href="/contact/support/">Issues & Support</a></span> |
                    <span><a href="/legal/terms-of-use/">Terms of use</a></span> |
                    <span><a href="/legal/privacy-policy/">Privacy policy</a></span> |
                    <span><a href="/aboutus/">About us</a></span>
                </p>
                <hr class="mr-tb-20">

                <a href="#" target="_blank">2Alchimists SAS</a> &copy; <script>document.write(new Date().getFullYear());</script>

            </div><!-- // END : column //  -->

        </div><!-- // END : row //  -->
        
    </div><!-- // END : Container //  -->
</footer>
