{{ define "main" -}}
	
	<!-- 
	****************************************************************************
	*                               Intro section                              *
	**************************************************************************** -->
	<section class="pd-tb-large pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2 align-c">
			<div class="w75 mr-auto typo-light mr-b-60">
				<h1 class="title large" data-rgen-sm="large" data-rgen-md="mr-t-40">{{ .Site.Params.title }}</h1>
				<p class="title-sub mr-b-40">{{ .Site.Params.subtitle }}</p>

				<a href="/docs/deploy-for-google-gke/" class="mr-lr-10 btn solid btn-white" data-rgen-sm="medium bold-n">
					<span class="btn-txt">Deploy for Google GKE</span>
				</a>
				<a href="/docs/deploy-for-azure-aks/" class="mr-lr-10 btn solid btn-color1" data-rgen-sm="medium bold-n">
					<span class="btn-txt">Deploy for Azure AKS</span>
				</a>
				<a href="/docs/deploy-for-amazon-eks/" class="mr-lr-10 btn solid btn-color3" data-rgen-sm="medium bold-n">
					<span class="btn-txt">Deploy for Amazon EKS</span>
				</a>
			</div>
			
			<img src="images/intro-app-img-02.png" class="mr-auto" alt="intro image">
		</div><!-- // END : container //  -->
		
		<b class="full-wh z1 bg-rb bg-repeat-x" data-rgen-sm="hide" data-bg="images/intro-graph.svg"></b>
		<b class="full-wh" data-gradient="y" data-g-colors="rgba(74, 83, 110,1)|rgba(45, 51, 69, 1)"></b>
	</section>
	<!-- ************** END : Intro section **************  -->



	<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-color3 pd-t-0" data-rgen-sm="pd-tb-small" id="features">
		<div class="container pos-rel z1 typo-light">
			<div class="w75 mr-auto align-c mr-b-60">
				<h3 class="title large" data-rgen-sm="large">Explore amazing features</h3>
				<p class="title-sub">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>
			
			<div class="flex-row gt40 mb20">
				{{ range .Site.Data.productfeatures }}
				<div class="flex-col-md-6">
					<div class="info-obj img-t g20 medium align-c pd-lr-30">
						<div class="img txt-color3"><span class="iconwrp rd bg-dark1"><i class="{{ .Image }}"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">{{ .Title }}</h2>
							<p>{{ .Description  | safeHTML }}</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				{{ end }}
			</div><!-- // END : row //  -->
		</div>
		<b class="full-wh" data-gradient="y" data-g-colors="rgba(74, 83, 110,0)|rgba(45, 51, 69, 0.25)"></b>
	</section>
	<!-- ************** END : Features section **************  -->


	<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-rgen-sm="pd-tb-small align-c">
		<div class="container pos-rel z1">
			<div class="align-c w75 mr-auto mr-b-70">
				<h4 class="f-1 title mini bold-2">Krossboard comes to help organizations owning Kubernetes clusters to tackle the challenges to make cost management and capacity planning decisions.</h4>
				<h2 class="title" data-rgen-sm="medium">Deploy in minutes, for multiple clusters</h2>
			</div>

			<div class="flex-row gt20 mb20 middle-md">
				<div class="flex-col-md-3">
					<h3 class="title small bold-n">Efficient Visualization at a central place</h3>
					<p>Krossboard introduces a global and consistent approach of resource usage analysis where the usage of all Kubernetes clusters are collected, processed, aggregated, and visualized at a single place. .</p>
					<a href="/docs/overview-concepts-features" class="btn btn-color3 bold-n solid">READ MORE...</a>
				</div><!-- // END : column //  -->
				<div class="flex-col-md-9">
					<img src="images/mac-img01.png" alt="image">
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->
	</section>
	<!-- ************** END : Content section **************  -->			
</div>
<!-- /#page --> 

{{- end }}