{{ define "main" -}}	
	<!-- 
	****************************************************************************
	*                               Intro section                              *
	**************************************************************************** -->
	<section class="pd-tb-large pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2 align-c">
			<div class="w75 mr-auto typo-light mr-b-60">
				<h1 class="title large" data-rgen-sm="large" data-rgen-md="mr-t-40">{{ .Site.Params.title }}</h1>
				<p class="title-sub mr-b-40">{{ .Site.Params.subtitle }}</p>

				<a href="/docs/deploy-for-google-gke/" class="mr-10 w20 btn solid btn-white" data-rgen-sm="mr-0 mr-tb-10 bold-n">
					<div class="btn-txt pd-b-10">Deploy for</div>
					<div class="btn-txt">Google GKE</div>
				</a>
				<a href="/docs/deploy-for-azure-aks/" class="mr-10 w20 btn solid btn-color1" data-rgen-sm="mr-0 mr-tb-10 bold-n">
					<div class="btn-txt pd-b-10">Deploy for</div>
					<div class="btn-txt">Azure AKS</div>
				</a>
				<a href="/docs/deploy-for-amazon-eks/" class="mr-10 w20 btn solid btn-color3" data-rgen-sm="mr-0 mr-tb-10 bold-n">
					<div class="btn-txt pd-b-10">Deploy for</div>
					<div class="btn-txt">Amazon EKS</div>
				</a>

				<a href="/docs/deploy-for-cross-cloud-and-on-premises-kubernetes/" class="mr-10 w20 btn solid btn-color4" data-rgen-sm="mr-0 mr-tb-10 bold-n">
					<div class="btn-txt pd-b-10">Cross-Cloud/</div>
					<div class="btn-txt">On-premises</div>
				</a>				
			</div>
			
			<img src="images/docs/krossboard-architecture-overview.png" class="mr-auto" alt="intro image">
		</div><!-- // END : container //  -->
		
		<b class="full-wh z1 bg-rb bg-repeat-x" data-rgen-sm="hide" data-bg="images/intro-graph.svg"></b>
		<b class="full-wh" data-gradient="y" data-g-colors="rgba(74, 83, 110,1)|rgba(45, 51, 69, 1)"></b>
	</section>
	<!-- ************** END : Intro section **************  -->



	<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-color3 pd-t-0" data-rgen-sm="pd-tb-small" id="features">
		<div class="container pos-rel z1 typo-light">
			<div class="w75 mr-auto align-c mr-b-60">
				<h3 class="title large" data-rgen-sm="large">Krossboard Key Features</h3>
				<p class="title-sub">Without being exhaustive, here are some key tenets that make Krossboard unique:</p>
			</div>
			
			<div class="flex-row gt40 mb20">
				{{ range .Site.Data.productfeatures }}
				<div class="flex-col-md-6">
					<div class="info-obj img-t g20 medium align-c pd-lr-30">
						<div class="img txt-color3"><span class="iconwrp rd bg-dark1"><i class="{{ .Image }}"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">{{ .Title }}</h2>
							<p class="title-sub mini">{{ .Description  | safeHTML }}</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				{{ end }}
			</div><!-- // END : row //  -->
		</div>
		<b class="full-wh" data-gradient="y" data-g-colors="rgba(74, 83, 110,0)|rgba(45, 51, 69, 0.25)"></b>
	</section>
	<!-- ************** END : Features section **************  -->


	<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-rgen-sm="pd-tb-small align-c" id="overview">
		<div class="container pos-rel z1">
			<div class="align-c w75 mr-auto mr-b-70">
				<h2 class="title" data-rgen-sm="medium">Efficient visualization at a central place</h2>
				<h4 class="f-1 title mini bold-2">
					Krossboard comes to help organizations to tackle the challenges to make cost management and capacity planning decisions on Kubernetes clusters. 
					It does so by enabling a global and consistent approach of collecting, processing, aggregating, and visualizing resource usage analytics at a single central place.
				</h4>

				<a href="/docs/overview-concepts-features" class="btn btn-color3 bold-n solid">READ MORE...</a>
			</div>

			<div class="gt20 mb20 middle-md" style="position: relative; margin: 20px;">								
				<img style="width: 100%;" src="images/mac-blank-screen.png" alt="mac">
				<div class="carousel-widget ctrl-1" style="display: block; position: absolute; top: 5.6%; width: 75.5%; height: 79.4%; left: 12.3%;"
					data-nav="true"
					data-autoplay="true"
					data-loop="true"
					data-pager="false"
					data-itemrange="0,1"
					data-margin="0"
					data-autoplay="true"
					data-hauto="false"
					data-in="false"
					data-out="false"
					data-center="false">
					<div class="owl-carousel">					
						<div class="item">
							<img src="images/docs/screenshorts/krossboard-current-usage-overview.png" alt="Krossboard current usage overview screenshot">
						</div>	
						<div class="item">
							<img src="images/docs/screenshorts/krossboard-cluster-usage-trends.png" alt="Krossboard cluster usage trends screenshot">
						</div>
						<div class="item">
							<img src="images/docs/screenshorts/krossboard-consolidated-clusters-usage.png" alt="Krossboard consolidated clusters usage screenshot">
						</div>
					</div>
				</div>
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->
	</section>
	<!-- ************** END : Content section **************  -->			
{{- end }}