{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero" class="primary">
    <h1>{{.Title}}{{ if isset .Params "subtitle" }}<br/>{{ .Params.Subtitle }}{{end}}</h1>
    <p>{{.Description}}</p>
    <div id="home-buttons">
      <a class="button primary big" href="/docs/deploy-for-google-gke/">Deploy for Google GKE</a>
      <a class="button secondary big" href="/docs/deploy-for-azure-aks/">Deploy for Azure AKS</a>
      <a class="button inverted big" href="/docs/deploy-for-amazon-eks/">Deploy for Amazon EKS</a>
    </div>
  </div>
  <!-- This section helps to highlight a news published as Content in _index.md -->
  <div id="action-buttons">
    <legend>{{.Content}}</legend>
  </div>
 
  <div id="product-overview">
    <div class="row gutters">
      {{ range .Site.Data.productfeatures }}
        <div class="col col-6 item">
          <figure style="text-align: center;">
            <img alt="{{ .Title }}" height="48" width=48 src="{{ .Image | relURL }}">
          </figure>
          <h3>{{ .Title }}</h3>
          <p>{{ .Description  | safeHTML }}</p>
        </div>
      {{ end }}
    </div class="row gutters">
  </div>

  <div id="product-mediahighlight">
    <div class="row">
      <div class="col col-12">
        <h1>Krossboard in a nutshell</h1>
        <p>
          Krossboard comes to help organizations owning Kubernetes clusters to tackle the challenges to make cost management and capacity planning decisions. This is achieved by introducing a global and consistent approach of resource usage analysis where the usage of all Kubernetes clusters are collected, processed, aggregated, and visualized at a single place. 
        </p>
        <p>
          <a class="button outline big" href="/docs/overview-concepts-features">Read more</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <figure style="text-align: center;">
          <img alt="krossboard-architecture-overview" src="/images/docs/krossboard-architecture-overview.png"/>
        </figure>
        <!--
        <video width="640" height="480" controls>
          <source src="/video/krossboard-overview.mp4" type="video/mp4" />
        </video>
        -->
      </div>
    </div>
  </div class="row">
  </div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
